vaadin-password-field::part(helper-text) {
    color: hsla(214, 87%, 92%, 0.69);
}
vaadin-password-field > input, vaadin-password-field::part(input-field) {
    background-color: whitesmoke;
}

vaadin-password-field > label{
    color: hsla(214, 87%, 92%, 0.69);
}

vaadin-password-field[focused] > label {
    color: hsl(214, 100%, 98%);
}